.notification-sec {
  width: 620px;
  margin: auto;
  padding: 20px 5px 0px 5px;
  border-bottom: 3px dashed #146f62;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__svg {
    text-align: left;
    font: normal normal normal 16px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-transform: capitalize;
    margin-bottom: 12px;
    display: inline-block;
    margin-left: 10px;
    svg {
      color: #0c4523;
      font-weight: 900;
      font-size: 30px;
    }
  }
  &__date {
    text-align: right;
    font: normal normal 100 10px Montserrat;
    letter-spacing: 0px;
    color: #37474f;
    opacity: 1;
  }
  &__status {
    text-align: left;
    font: normal normal bold 12px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    display: block;
    line-height: 0;
    padding: 1px 0;
  }
  &__message {
    text-align: left;
    font: normal normal normal 12px Montserrat;
    letter-spacing: 0px;
    color: #37474f;
    line-height: 0;
    opacity: 1;
  }
  &__meetingDate {
    text-align: left;
    font: normal normal bold 10px Montserrat;
    letter-spacing: 0px;
    color: #146f62;
    opacity: 1;
    display: block;
    margin-bottom: 3px;
  }
  &__success-message {
    text-align: left;
    font: normal normal normal 12px Montserrat;
    letter-spacing: 0px;
    color: #0c4523;
    opacity: 1;
  }
  &__failed-message {
    text-align: left;
    font: normal normal normal 12px Montserrat;
    letter-spacing: 0px;
    color: #bc0000;
    opacity: 1;
  }
}

.logs_svg {
  color: #178a7b;
  font-weight: 900;
  font-size: 30px;
}

.user-dropdown {
  display: flex;
  flex-direction: column;
  width: 190px;
  padding: 20px;
  &__name {
    border-bottom: 2px solid #707070;
    display: block;
    display: flex;
    text-align: left;
    font: normal normal normal 10px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    p {
      font: normal normal bold 12px Montserrat;
    }
    svg{
        font-size: 32px;
        margin-right: 6px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    margin: 3px 0;
  }
}
