.all_order_provider {

    .top_header_provider {
        display: flex;
        justify-content: space-between;

        h2 {
            font: normal normal bold 32px/39px Montserrat;
            letter-spacing: 0px;
            color: #178A7B;
            text-transform: uppercase;
            opacity: 1;
        }

        button {
            background: #146F62 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000080;
            border-radius: 4px;
            opacity: 1;
            border: none;
            color: #FFFFFF;
            font-size: 1rem;

        }

        .add {
            padding: 0.2rem 1rem;
            margin-right: 1rem;

        }

        .filter {
            width: 48px;
            height: 48px;
        }

    }

    .all_order_body_container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        .order_list_card {
            margin-top: 1rem;
            width: 281px;
            height: 394px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000099;
            opacity: 1;
            border-radius: 5px;
            position: relative;
            padding: 0.5rem;

            .status {
                display: flex;
                align-items: center;
                justify-content: flex-end;


                p {
                    letter-spacing: 0px;
                    color: #0C4523;
                    opacity: 1;
                    font-size: 12px;
                    font-weight: bold;
                }

                .status_transit {
                    width: 12px;
                    height: 12px;
                    background: #0C4523 0% 0% no-repeat padding-box;
                    opacity: 1;
                    border-radius: 50%;
                    margin-left: 0.4rem;
                }
            }

            .status_d {
                display: flex;
                align-items: center;
                justify-content: flex-end;


                p {
                    letter-spacing: 0px;
                    color: #006594;
                    opacity: 1;
                    font-size: 12px;
                    font-weight: bold;
                }

                .status_deliver {
                    width: 12px;
                    height: 12px;
                    background: #006594 0% 0% no-repeat padding-box;
                    opacity: 1;
                    border-radius: 50%;
                    margin-left: 0.4rem;
                }
            }

            .status_c {
                display: flex;
                align-items: center;
                justify-content: flex-end;


                p {
                    letter-spacing: 0px;
                    color: #F2A100;
                    opacity: 1;
                    font-size: 12px;
                    font-weight: bold;
                }

                .status_complete {
                    width: 12px;
                    height: 12px;
                    background: #F2A100 0% 0% no-repeat padding-box;
                    opacity: 1;
                    border-radius: 50%;
                    margin-left: 0.4rem;
                }
            }

            .courier_info {
                border-bottom: 2px solid #65ABA0;

                h4 {
                    letter-spacing: 0px;
                    color: #146F62;
                    opacity: 1;
                    font-size: 10px;
                    font-weight: bold;
                    padding-bottom: 0.4rem;

                }

                h6 {
                    letter-spacing: 0px;
                    color: #707070;
                    opacity: 1;
                    font-size: 14px;


                    span {
                        font-weight: bold;
                    }
                }

                p {
                    letter-spacing: 0px;
                    color: #707070;
                    opacity: 1;
                    font-size: 12px;
                }
            }

            .delivery_info {
                border-bottom: 2px solid #65ABA0;

                h4 {
                    letter-spacing: 0px;
                    color: #146F62;
                    opacity: 1;
                    font-size: 10px;
                    font-weight: bold;
                    padding-bottom: 0.4rem;

                }

                .item_container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .item_name {

                        p {
                            letter-spacing: 0px;
                            color: #707070;
                            opacity: 1;
                            font-size: 14px;
                        }

                    }

                    .item_data {
                        h4 {
                            letter-spacing: 0px;
                            color: #707070;
                            opacity: 1;
                            font-size: 14px;
                        }
                    }
                }

            }

            .link {
                a {
                    letter-spacing: 0px;
                    color: #146F62 !important;
                    opacity: 1;
                    font-size: 14px;
                    // font-weight: bold;

                }

                position: absolute;
                bottom: 0;
                right: 0;

            }

        }




    }

}