.providersPanel {
    .steps-row {
        justify-content: space-between;

        .tab {
            text-align: right;
            padding: 0;
        }

        .tab-right {
            text-align: left;
        }

        .steps {
            width: 89%;
            border-radius: 0;

            span {
                text-align: left;
                font: normal normal bold 20px/24px Montserrat;
                letter-spacing: 7px;
                color: #707070;
                opacity: 1;
            }
        }

        .active-border {
            border-bottom: 5px solid #146F62;

            span {
                text-align: left;
                font: normal normal bold 20px/24px Montserrat;
                letter-spacing: 7px;
                color: #146F62;
                opacity: 1;
            }
        }

        .disable-border {
            border-bottom: 5px solid #707070;
        }
    }

    .tab-content {
        .orders {
            .filter-col {
                display: flex;
                justify-content: end;

                .filter {
                    height: 48px;
                    width: 48px;
                    background: #146F62;
                    box-shadow: 0px 0px 4px #000000B3;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 24px;
                        width: 24px;
                    }
                }
            }

            .row {
                grid-gap: 2%;

                .orderCard {
                    position: relative;
                    border-radius: 10px;
                    box-shadow: 0px 0px 4px #00000080;
                    height: 382px;
                    /* UI Properties */
                    opacity: 1;

                    .status {
                        margin-top: 3px;
                        display: flex;
                        justify-content: end;
                        align-items: center;

                        .status-text,
                        .status-text-blue,
                        .status-text-red {
                            text-align: right;
                            font: normal normal bold 12px/15px Montserrat;
                            letter-spacing: 0px;
                            color: #0C4523;
                            opacity: 1;
                            margin-right: 2%;
                        }

                        .status-text-blue {
                            color: #006594;
                        }

                        .status-text-red {
                            color: #BC0000;
                        }

                        .status-indicator,
                        .status-indicator-blue,
                        .status-indicator-red {
                            content: '';
                            position: absolute;
                            right: 5px;
                            top: 5px;
                            height: 12px;
                            width: 12px;
                            border-radius: 50%;
                            background-color: #0C4523;
                        }

                        .status-indicator-blue {
                            background-color: #006594;
                        }

                        .status-indicator-red {
                            // background-color: #F2A100;
                            background-color: #BC0000;
                        }
                    }

                    .customer-info,
                    .delivery-info {
                        text-align: left;
                        font: normal normal 600 10px/13px Montserrat;
                        letter-spacing: 0px;
                        color: #146F62;
                        opacity: 1;
                    }

                    .delivery-info {
                        margin-top: 7%;
                    }

                    .card-headings {
                        font-size: 14px;
                        text-align: left;
                        letter-spacing: 0px;
                        color: #707070;
                        opacity: 1;

                        span {
                            font-weight: 600;
                        }
                    }

                    .faded-headings {
                        font: normal normal 100 12px/15px Montserrat;
                        letter-spacing: 0px;
                        color: #707070;
                        opacity: 1;
                    }

                    .employee-name {
                        text-align: left;
                        font: normal normal 600 14px/18px Montserrat;
                        letter-spacing: 0px;
                        color: #707070;
                        opacity: 1;
                    }

                    .vehicle {
                        &::after {
                            content: '';
                            position: absolute;
                            width: 90%;
                            height: 2px;
                            background-color: #65ABA0;
                            top: 44%;
                            left: 5%;
                        }
                    }

                    .delivery-info-row {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .description {
                        &::after {
                            content: '';
                            position: absolute;
                            width: 90%;
                            height: 2px;
                            background-color: #65ABA0;
                            bottom: 21%;
                            left: 5%;
                        }
                    }

                    .view-details {
                        position: absolute;
                        bottom: 0;
                        right: 2%;

                        a {
                            text-decoration: none !important;
                            letter-spacing: 0px;
                            color: #146F62 !important;
                            font-weight: 400;
                            margin-right: 5px;
                        }

                        .fa-angle-right {
                            color: #146F62;
                        }
                    }
                }
            }

            .create-order-row {
                margin-top: 44px;

                .create-order {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 210px;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border: 1px dashed #70707066;
                    opacity: 1;

                    img {
                        height: 88px !important;
                        width: 88px !important;
                        color: #70707066;
                    }

                    .text {
                        width: 80px;
                        height: 48px;
                        /* UI Properties */
                        text-align: center;
                        font: normal normal normal 20px/24px Montserrat;
                        letter-spacing: 0px;
                        color: #70707066;
                    }
                }
            }
        }

        .providers {
            .employe-log-module {
                margin-top: 41px;
            }

            .top-buttons {
                justify-content: end;
                padding: 0;
                margin: 10px 0;
                grid-gap: 5px;

                .upload-document,
                .add-provider {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 38px;
                    font: normal normal normal 16px/19px Montserrat;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    background-color: #65ABA0;
                    border-radius: 4px;
                    opacity: 1;
                }

                .add-provider {
                    background-color: #146F62;
                }
            }

            .form-control {
                position: relative;
                background: #FCFCFC 0% 0% no-repeat padding-box;
                box-shadow: 0px 0px 4px #00000059;
                border-radius: 4px;
                opacity: 1;
            }

            .input-group-btn {
                position: absolute;
                top: 0;
                right: 2%;
            }
        }
    }
}

// Providers-Filter-modal
.providers-filter {
    .modal-content {
        justify-content: center !important;

        .modal-header {
            border-bottom: none;
            padding-right: 0 !important;

            .h4 {
                text-align: left;
                font: normal normal 700 28px/34px Montserrat;
                letter-spacing: 0px;
                color: #000000;
            }

            .modalClose {
                padding: 2px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 96%;
                height: 2px;
                background-color: #65ABA0;
                top: 20%;
                left: 2%;
            }
        }

        .docsModalBody {
            display: flex;
            flex-direction: column;
            grid-gap: 8px;
            padding: 24px 29px;
            position: relative;

            .leftSection,
            .rightSection {
                .heading-light {
                    font: normal normal normal 16px/19px Montserrat;
                    letter-spacing: 0px;
                    color: #707070;
                }

                .btn-group {
                    margin: 5% 0;
                }

                .filterButton {
                    border: 0.5px solid var(--gray-707070);
                    background: #FFFFFF !important;
                    border: 0.5px solid #707070;
                    width: 114px;
                    color: #707070;
                    height: 45px;

                    &:focus {
                        outline: none !important;
                        box-shadow: none !important;
                    }
                }

                .btn-active {
                    background: #E1E1E1 !important;
                }

                .dropdownFilter {
                    display: flex;
                    justify-content: space-between;
                    grid-gap: 5px;

                    .MuiInputBase-input {
                        height: .5rem;
                        max-width: 49% !important;
                    }
                }
            }

            .rightSection {
                display: flex;
                flex-direction: column;
                grid-gap: 26px;
            }
        }
    }
}

.dropdownDiv {
    img {
        width: 24px;
    }
}


.filter_Event_model {


    .fiter_event_model_head {
        margin-top: 1rem;

        h4 {
            color: #000000;
            font-size: 28px;
            font-weight: bold;
        }

        i {
            font-size: 1.5rem;
            color: #bc0000;
        }
    }

    .filter_event_model_body {
        border-top: 2px solid #178a7b;

        p {
            color: #707070;
            font-size: 1rem;
        }

        .filter_event_model_form {
            display: flex;
            flex-direction: column;

            select {
                border: 2px solid #707070;
                border-radius: 4px;
                background: #ffffff 0% 0% no-repeat;
                padding: 0.6rem;
                border: 1.5px solid #707070;
                margin-top: 1rem;
            }
        }
    }
}