.emloyee-contract-detail-sec {
  width: 992px;
  margin: 70px auto;
}

.emloyee-contract-detail {
  display: flex;
  &-first {
    flex: 1 0 33.3%;
  }
  &-second {
    flex: 1 0 33.3%;
    border-right: 2px solid #65aba0;
    border-left: 2px solid #65aba0;
  }
  &-third {
    flex: 1 0 33.3%;
  }
}
.emloyee-contract-detail .contract-card__title {
  display: block;
  text-align: center;
}

.emloyee-contract-detail .contract-card__desc {
  display: block;
  text-align: end;
}

.contract-option-label {
  text-decoration: underline;
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #65aba0;
  opacity: 1;
}

.contract-detail-employe-sec {
  max-width: 100%;
}
.contractor-access-table-heading {
  text-align: center;

  font: normal normal bold 10px/13px Montserrat;
  letter-spacing: 0px;
  color: #65aba0;
  opacity: 1;
}

.contractor-access-heading {
  font: normal normal 600 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.contractor-access-table-data {
  text-align: center;
  font: normal normal 100 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.contractor-access-table-first {
  text-align: left;
  font: normal normal bold 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.add-access-btn {
  background: #65aba0 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 0px 4px #00000066;
  border-radius: 4px;
  opacity: 1;
  border: none !important;
  margin-top: 20px;
}

.access-sec {
  border-top: 2px dashed #146f62;
  padding-top: 20px;
}

.emp-heading {
  text-align: left;
  font: normal normal bold 20px/24px Montserrat;
  letter-spacing: 7px;
  color: #146f62;
  opacity: 1;
}

.providersTables {
  table {
    border-collapse: separate !important;
    border-spacing: 0 15px;

    thead {
      th {
        font-size: 14px;
        color: #65aba0;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .first {
      text-align: left !important;
      padding-left: 1rem;
    }

    .last {
      text-align: right !important;
      padding-right: 1rem;

      img {
        cursor: pointer;
      }

      .dropdown-menu.show {
        inset: -16% auto auto 11%;
        transform: translate(0px, 25px);
        padding: 20px;
        width: 216px;
        border-radius: 15px;

        .dropdownDiv {
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          img {
            width: 14px;
            height: 14px;
            margin-right: 0.5rem;
          }

          span {
            font: normal normal normal 14px/18px Montserrat;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
          }
        }
      }
    }

    tr {
      box-shadow: 0px 0px 6px 0px black;
      border-radius: 5px;
      height: 36px;

      td {
        text-align: center;
      }
    }
  }
}

.contractor-detail-page-search {
  background: #fcfcfc 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #00000059;
  border-radius: 4px;
  opacity: 1;
  border: none;
  outline: none;
  height: 36px;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contractor-detail-page-search::placeholder {
  text-align: left;
  font: normal normal normal 16px/21px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.contractor-detail-page-sec {
  position: relative;
}

.contractor-detail-page-search__icon {
  position: absolute;
  right: 14px;
  top: 18px;
}

.contract-custom-checkbox {
  .days-text-style{
    color: #707070;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 6px;
    text-align: center;
  }

  article {
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    float: left;
    box-sizing: border-box;
  }

  article div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: 0.5s ease;
  }

  article input {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
  }

  input[type="checkbox"]:checked ~ div {
    background-color: #146f62;
  }

  @keyframes slidein {
    from {
      margin-top: 100%;
      width: 300%;
    }

    to {
      margin: 0%;
      width: 100%;
    }
  }
}


.my-custom-modal{
  position: absolute;
  top: 50%;
  height: 300px;
  width: 300px;
  right: 50%;
  z-index: 9999999999;
  background: red;
}
.my-custom-modal-hide{
  visibility: hidden;
}

.my-custom-modal-show{
  display: block;
  visibility: unset;
}


.warning-msg-style{
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(226,76,75);
  margin: 10px auto;
  padding: 15px 0;
  border: 3px solid rgb(226,76,75);
  width: 70%;
}

.rejection-note-field{
    border: none;
    outline: none;
    font-size: 14px;
    letter-spacing: 0px;
    color: #707070;
background: #FCFCFC 0% 0% no-repeat padding-box;
box-shadow: 4px 4px 4px #0000001A;
border: 2px solid #707070;
opacity: 1;
    border-radius: 4px;
    &::placeholder{ 
      color: #707070;
      font-size: 8px;
    }
}
.rejection-note-label{
  position: absolute;
    top: -8px;
    background: white;
    padding: 0 5px;
    font-size: 13px;
    font-weight: 600;
    color: #707070;
    margin-left: 7px;
}

.work-shift-add-item{
  background: var(--white-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 2px #0000004D;
border-radius: 50px;
padding: 5px;
height: 35px;
}

.searchItem{
  height: 150px;
  overflow-y: scroll;
}