.contractors {
    .ibl {
        &::after {
            content: '';
            position: absolute;
            width: 90%;
            height: 2px;
            background-color: #65ABA0;
            top: 34%;
            left: 5%;
        }

    }

    .tab-content {
        .orderCard {
            height: 258px !important;

            .description {
                &::after {
                    bottom: 19% !important;
                }
            }

            .delivery-info {
                padding: 7% 0;
            }

            .contract-no {
                position: absolute;
                top: 2%;
                left: 5%;
                text-align: left;
                font: normal normal 600 10px/13px Montserrat;
                letter-spacing: 0px;
                color: #146F62;
                opacity: 1;
            }
        }

        .orders {
            .create-order-row {
                margin-top: 0;
                padding: 0;

                .create-order {
                    height: 100%;
                }
            }
        }
    }

    .tss-58la38-MUIDataTable-paper .css-1ex1afd-MuiTableCell-root:nth-child(3) {
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0px;
        color: #F2A100;
    }

}

// contractor-details
.contractor-cards {
    justify-content: start !important;

    .cards-first-row {



        .cards {
            max-width: 47.666667% !important;
            padding: 0 !important;
            display: flex;
            justify-content: space-between;
        }

        .card2-content {

            &:before {
                content: 'INCOMPLETE' !important;
                color: #BC0000 !important;
            }
        }
    }

    .cards-second-row {
        margin-top: 43.39px;
    }

    .cards-heading {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 7px;
        color: #146F62;
        font-weight: bold;

    }
}



.access_right_component {
    .__header {
        font-size: 20px;
        letter-spacing: 7px;
        color: #146F62;
        font-weight: bold;
    }

    .__body {
        width: 100%;
        box-shadow: 0px 0px 6px #00000099;
        border-radius: 6px;
        padding: 40px 20px 40px 60px;
        margin-bottom: 41px;

        .__accessbody {

            .separator {

                display: flex;
                align-items: center;
                text-align: center;
                content: '';
                font-size: 16px;
                color: #707070;

                &:before,
                &:after {
                    flex: 1;
                    border-bottom: 2.5px solid #707070;
                }

                &:not(:empty):before {
                    margin-right: .25em;
                }

                &:not(:empty):after {
                    margin-left: .25em;
                }
            }
        }
    }

    .btnDiv {
        display: flex;
        justify-content: end;
        margin-bottom: 28px;
    }

    .createContactBtn {
        background: #146F62;
        border-radius: 8px;
        width: 245px;
        margin-bottom: 28px;
        margin-right: 84px;
    }
}