.viewcard-container {
  width: 100%;
  position: relative;
  padding: 0px 10px;
  box-shadow: 0px 0px 4px #00000099;
opacity: 1;
border-radius: 8px;
  &__status {
    display: block;
    text-align: end;
    padding: 3px 0;
    font: normal normal bold 12px Montserrat;
    letter-spacing: 0px;
    color: #0c4523;
    opacity: 1;
    svg {
      font-size: 14px;
    }
  }
  &__img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 7px;
  }
  &__title {
    display: flex;
    justify-content: start;
    align-items: baseline;
    font: normal normal normal 12px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  &__desc {
    font: normal normal normal 12px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  &__link{
    display: flex;
    justify-content: end;
    align-items: center;
    font: normal normal normal 12px Montserrat;
    letter-spacing: 0px;
    color: #146F62;
    opacity: 1;
    cursor:pointer;
    svg{
        margin: 0 -7px 0 -3px;
    }
  }
}
