.header {
    height: 100vh;

    .bgimg {
        width: 100%;
        height: 100%;
    }

    .card_overly {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .navlinks {
            display: flex;
            align-items: center;
            color: #fff !important;
            cursor: pointer;
            margin: 10px;

            &:hover {
                text-decoration: underline;
            }

            .dropdown_css {
                font-size: 12px;
                background-color: #fff;
                border-radius: 10px;
                position: absolute;
                top: 46px;
                z-index: 999;
                padding: 1rem;
                width: 8.5rem;

                p {
                    color: black;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    font-weight: bold;
                }
            }

            .loginForm {
                background-color: #cdcfd1;
                border-radius: 10px;
                position: absolute;
                top: 52px;
                z-index: 999;
                right: 8px;
                padding: 1rem;
                width: 18rem;

                .inputMain {
                    margin-bottom: 7px;
                    border-radius: 4px;
                    background: #fff;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 7px;

                    input {
                        border: none;
                        border-radius: 4px;
                        outline: none;
                        width: 90%;
                        color: #26786c;
                        padding-left: 5px;

                        &::placeholder {
                            text-transform: uppercase;
                            color: #26786c;
                        }
                    }

                    i {
                        color: #26786c;
                    }
                }

                .signinBtn {
                    width: 100%;
                    border: none;
                    background-color: #26786c;
                    color: #fff;
                    text-transform: uppercase;
                    border-radius: 4px;
                    margin-top: 10px;
                    padding: 3px;
                }
            }
        }

        .loginBtn {
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            border: 2px solid lightgray;
            border-radius: 11px;
            width: 9rem;
            height: 2.2rem;
            justify-content: space-around;
            color: #146f62;
            font-weight: bold;
        }

        .logoAndText {
            margin: 15% auto;
            width: 50%;
        }

        .logoAndTextP {
            color: #fff;
            margin-top: 1rem;
            font-size: 1.5rem;
        }

        .footerRow {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin-top: 1.9rem !important;

            .footerCol {
                background-color: #fff;
                padding-top: 1rem;
                opacity: 0.6;

                p {
                    margin: 0;
                }
            }
        }

        .footerText {
            position: absolute;
            bottom: 0;
            color: #fff;
            font-size: 12px;
        }
    }
}